.bs-autocomplete {
	position: absolute;
	background-color: #ffffff;
	border: 1px solid #d4d4d4;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}

.bs-autocomplete-list {
	--bs-autocomplete-max-height: 300px;
	max-height: var(--bs-autocomplete-max-height);
	overflow-y: auto;
}
